@import "colors";

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

#homepage {
    background-color: $homepage;
    position: relative;
    height: 100vh;
    h2 {
        color: $heading;
    }
    #menuIcon {
        cursor: pointer;
    }
    p {
        color: $text;
    }
}