* {
  margin: 0%;
  padding: 0%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#homepage {
  background-image: url(arnold-francisca-f77Bh3inUpE-unsplash.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
  height: 100vh;
}

#homepage #navbar {
  background-color: royalblue;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 15px;
  position: relative;
}

#homepage #navItems {
  background-color: #d68b00;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 65vh;
  z-index: 2;
}

#homepage #navItems li {
  list-style-type: none;
}

#homepage #navItems button {
  background-color: #a7a759;
  border: none;
  padding: 15px 30px;
  border-radius: 50px;
  font-weight: 600;
  cursor: pointer;
}

#homepage #welcomePage {
  color: #f5f5f5;
  position: absolute;
  font-size: 50px;
  text-align: center;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 1;
}

#navbar {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#navbar h2 a {
  color: black;
  text-decoration: none;
}

#navbar #navItems a {
  font-weight: 600;
  color: white;
  text-decoration: none;
  -webkit-transition: 250ms ease-in-out;
  transition: 250ms ease-in-out;
}

#navbar #navItems a:hover {
  color: black;
}

#circles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 5px;
          column-gap: 5px;
}

.circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.white {
  background-color: #f5f5f5;
}

.red {
  background-color: black;
}

.black {
  background-color: red;
}

#menuIcon {
  cursor: pointer;
}

#menuIcon div {
  background-color: #f5f5f5;
  width: 25px;
  height: 2px;
  margin-bottom: 5px;
}

#logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.layer {
  background-color: #1a1a3a;
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: .7;
}

@media (min-width: 769px) {
  body {
    max-width: 80%;
    margin: auto;
  }
  #navbar #navItems {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-column-gap: 10px;
            column-gap: 10px;
    position: unset;
    width: unset;
    height: unset;
    background-color: unset;
  }
  #menuIcon {
    display: none;
  }
}
/*# sourceMappingURL=main.css.map */