* {
  margin: 0%;
  padding: 0%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: #c0bdbd;
}

#homepage {
  background-image: url(images/Desktop.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
  height: 100vh;
}

#homepage #navbar {
  background-color: royalblue;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 15px;
  position: relative;
}

#homepage .navlinks {
  display: block;
}

#homepage .navlinks ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 15px;
          column-gap: 15px;
}

#homepage .navlinks ul li {
  list-style-type: none;
}

#homepage .navlinks ul button {
  background-color: #a7a759;
  border: none;
  padding: 15px 30px;
  border-radius: 50px;
  font-weight: 600;
  cursor: pointer;
}

#homepage #welcomePage {
  color: #f5f5f5;
  position: absolute;
  font-size: 50px;
  text-align: center;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 1;
}

#navbar {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#navbar h2 a {
  color: black;
  text-decoration: none;
}

#navbar .navlinks a {
  font-weight: 600;
  color: white;
  text-decoration: none;
  -webkit-transition: 250ms ease-in-out;
  transition: 250ms ease-in-out;
}

#navbar .navlinks a:hover {
  color: black;
}

#circles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 5px;
          column-gap: 5px;
}

.circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.white {
  background-color: #f5f5f5;
}

.red {
  background-color: black;
}

.black {
  background-color: red;
}

#menuIcon {
  display: none;
  cursor: pointer;
}

#menuIcon div {
  background-color: #f5f5f5;
  width: 25px;
  height: 2px;
  margin-bottom: 5px;
  -webkit-transition: 250ms ease-in-out;
  transition: 250ms ease-in-out;
}

#logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.layer {
  background-color: #1a1a3a;
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: .7;
}

.toggle .one {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  position: absolute;
  top: 50%;
  -webkit-transition: 250ms ease-in-out;
  transition: 250ms ease-in-out;
}

.toggle .two {
  opacity: 0;
}

.toggle .three {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  position: absolute;
  top: 50%;
  -webkit-transition: 250ms ease-in-out;
  transition: 250ms ease-in-out;
}

#about__page {
  background-color: #1a1a3a;
  color: #ffffff;
}

#about__page h3 {
  text-align: center;
  font-size: 40px;
  padding-top: 100px;
  padding-bottom: 25px;
}

#about__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-column-gap: 20px;
          column-gap: 20px;
  padding: 20px;
}

#about__content #picture {
  display: block;
  width: 100%;
  margin: auto;
  grid-area: picture;
}

#about__content p {
  width: 100%;
}

#project__page {
  background-color: #1a1a3a;
  color: #ffffff;
  padding-top: 100px;
}

#project__page figure {
  padding-bottom: 50px;
}

#project__page h3 {
  text-align: center;
  font-size: 40px;
  padding-bottom: 50px;
}

#project__page #project__one, #project__page #project__two, #project__page #project__three {
  display: block;
  width: 300px;
  margin: auto;
}

#projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

figcaption {
  text-align: center;
}

#footer {
  background-color: #1a1a3a;
  color: #ffffff;
  padding-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 50px;
  -webkit-column-gap: 50px;
          column-gap: 50px;
}

#footer img {
  -webkit-filter: sepia(1);
          filter: sepia(1);
  cursor: pointer;
}

@media (max-width: 769px) {
  #homepage {
    background-image: url(images/mobile.jpg);
  }
  #navbar .navlinks {
    display: none;
  }
  #navbar #menuIcon {
    display: block;
  }
  #navbar .responsive {
    background-color: #d68b00;
    display: block;
    position: absolute;
    width: 100%;
    top: 100%;
    left: 0;
    z-index: 2;
  }
  #navbar .responsive ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    height: 65vh;
  }
}

@media (min-width: 769px) {
  body {
    max-width: 80%;
    margin: auto;
  }
}
/*# sourceMappingURL=main.css.map */